#videoluz {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }


.fotoaalex {
    position:fixed ;
    width: 200px;
    left: 42%;
    top: 35%;
}
.nome {
    z-index: 1;
    font-size: 35px;
    color: rgb(67, 119, 197);
    position:fixed;
    top: 20px;
    left: 680px;
}
.texto_quem_sou {
    z-index: 2;
    font-size: 35px;
    color: rgb(50, 117, 204);
    background-color: rgb(0, 0, 0);
    position:absolute;
    top: 950px;
    border-style: dashed;
}
.abilitiess {
    border-style: dashed;
    color: rgb(50, 117, 204);
    background-color: rgb(0, 0, 0);
    position:absolute;
    top:1700px;
    font-size: 25px;
    left: 60px
}
.status{
    border-style: dashed;
    color: rgb(50, 117, 204);
    background-color: rgb(0, 0, 0);
    font-size: 40px;
    position:absolute;
    top:2200px;
    left: 1400px;
}

h2{
    z-index: 1;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 200, 6);
    position:fixed;
}
.ninja{
    position: absolute;
    left: 2150px;
    width: 150px;
}
.caco{
    position:fixed ;
    width: 200px;
    left: 1150px;
    top: 250px;
}
.equipas{
    font-family: monospace;
    border-style: dashed;
    color: rgb(50, 117, 204);
    background-color: rgb(0, 0, 0);
    font-size:25px;
    position:absolute;
    top:1700px;
    left:1375px;
}
body{
    font-family: monospace;
    height: 2600px;
}
.hpbar{
    width: 480px;
    top: 2350px;
    position: absolute;
}
ul:hover{
    background-image:url(https://media1.giphy.com/media/CKlafeh1NAxz35KTq4/giphy.gif?cid=ecf05e4784874iya41f54h1dmcnwd55wr9k7ragt7yvpyuud&rid=giphy.gif&ct=g) ;
}
body{
    top:5000
}
ul{ 
    list-style:none
}
.statsbar {
    height: 285px;
    position:absolute;
    top:2290px;
    font-size: 25px;
    left: 1380px;
    z-index: 1;
}
.equipiconn{
    height: 285px;
    position:absolute;
    top:1680px;
    font-size: 25px;
    left: 1330px;
    z-index: 1;
    height: 90px;
}
.habiconn{
    height: 285px;
    position:absolute;
    top:1680px;
    font-size: 25px;
    left: 13px;
    z-index: 1;
    height: 90px;
}